<%- include('../partials/header') %>

<h3>Skills as of <%= time %></h3>

    <ul>
        <% skills.forEach(function(s) { %>
            <li class="skill-item">
                <form action="/skills/<%= s.id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button class="button" type="submit">Remove</button>
                </form>
                <div class="skill-name">
                    <a href="/skills/<%= s.id %>"><%= s.skill %></a>
                </div>

                <div class="skill-language">
                    <%= s.language %>
                </div>
                <div class="opinion">
                    <%= s.opinion %>
                </div>
            </li>
        <% }); %>
    </ul>

<a href="/skills/new">Add New Skill</a>

<%- include('../partials/footer') %>
